body{
    
    background: rgb(21, 22, 22);
   
}
#the-page{
border-radius:10px;
border: 2px orange;
box-shadow: 0 5px 15px rgb(255, 94, 0);
overflow: hidden;
}

.sub-head{
    font-size: .8rem;
}

#jumbotron-one{
    background: url("../image/thetop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: -100px;
    width: 100%;
    min-height: 400px;
    margin-top: -20px;
    

}
#about{
    font-size: 16px;
    color: #FFF;
    align-content: center;
    text-align: center;
    margin-top:50px;
}

#about-image{
    margin: 50px 0 50px 0;
    border: 0px;
    border-radius: 15px;
    width: 60%;
}
.foot{
    color: #aaaaaa;
}
#skills{
    height:600px;
    background-color: black;
}