.project-box{

display:grid;
grid-gap: 0px 20px;
grid-template-columns: auto auto auto;
overflow:hidden;
border:solid 1px #008156;
border-radius: 5px;
background-color:#222;

}

.project-title{
    font-weight:bold;
    display:grid;
    background-color:#008156;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left:20px
}
.project-description{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 10px;
    color:rgb(69, 126, 184);
    font-weight:500;
}

.grid-item{
    border:solid 1px red;
}