
body{
    margin:0;
    margin-top:50px;
    background-color: blue;
    background-image: url("../images/thetop.jpg");
    background-size: 100% 100%;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    top:0;
}

.centery{
    position:absolute;
    top:50%; 
    transform:translateY(-50%);
}


/*NavBar*/
#navbar{
    overflow:hidden;
    background-color: rgba(123, 135, 153, 0.452);
    /*Sticky Code*/
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    margin:0;
    text-align: center;
    text-justify: distribute;
    transition:height 0.3s ease-out;
    height:auto;
    z-index: 1000;  
}
#navbuttons{
    display:none;
}
#navlabel{
 display:inline-block;
color: rgb(0, 0, 0);
text-shadow: -1px -1px 1px #FFF, 1px 1px 1px #FFF,-1px 1px 1px #FFF, 1px -1px 1px #FFF;
padding:15px;
text-decoration:none;
font-weight: bold;
}

/* Nav Links*/
#navbar a{
display:block;
color: white;
text-shadow: -1px -1px 1px #333333, 1px 1px 1px #333333,-1px 1px 1px #333333, 1px -1px 1px #333333;
padding:10px;
text-decoration:none;;
font-size:1rem
}
#navbar a:hover{
    background-color: rgb(69, 126, 184);
    color:#FFF;
}
#navslide{
    overflow:hidden;
    background-color: rgba(132, 157, 195, 0.5);
    /*Sticky Code*/
    position: fixed;
    width: 100%;
    margin:0;
    text-align: center;
    padding:5px 0;
}
/*Intial State*/

#slide-icon{
    width: 0;
    height: 0;
    margin-left:50%;
    margin-right:50%;
    transform: translate(-50%, 0);
}
.slide-initial{
    border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-top: 16px solid #000;
    border-bottom: 0px solid #000;
}
#slide-icon.slide-down{
    border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-top: 16px solid #000;
    border-bottom: 0px solid #000;

animation: slide-down-appear ease-in-out .5s;
}
#slide-icon.slide-up{

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 16px solid #000;
    border-top: 0px solid #000;
animation: slide-up-appear ease-in-out .5s  ;
}
@keyframes slide-down-appear{
    0%{    

        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 16px solid #000;
        border-top: 0px solid #000;}
    50%{
        left: 5px;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-top: 8px solid #000;
        border-bottom: 8px solid #000;
    }
    100%{	border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 0px solid #000;
        border-top: 16px solid #000;}
}
@keyframes slide-up-appear{
    0%{border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 0px solid #000;
        border-top: 16px solid #000;}
    50%{
        left: 5px;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-top: 8px solid #000;
        border-bottom: 8px solid #000;
    }
100%{
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-top: 0px solid #000;
    border-bottom:16px solid #000;}
}




.image-panel{
width: 100%;
min-height: 25vw;
} 

/*TODO: Finish bottom half of gradient*/
.content-panel{
overflow: hidden;
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.5),rgba(0,0,0,.7),rgba(0,0,0,.9) , rgba(0,0,0) 25%,rgba(0,0,0) 75%,rgba(0,0,0,.9), rgba(0,0,0,.7),  rgba(0,0,0,.5) ,rgba(0,0,0,0) );
height:200vh;
position:relative;
}


.inner-panel-container{
    min-height: 50vh;
    background-color:black;
    width:100%;
}


.box{
    position:absolute;
    border: solid 0px white;
    transition: width , height ,left , display, top , transform, border .6s .8s ;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0., .5, .58, 1);
    object-fit: cover;
}
.box-1{
    box-shadow: 0 0 8px 8px black inset;

}
.box-2{
    transition-delay:.1s;
}
.box-3{
    transition-delay:.2s
}
.box-4{
    transition-delay:.3s

}
.box-5{
    transition-delay:.4s;
}

.un-box{
    height:35vh;  
    left:20%;
    width: auto;
    border: solid 5px black;
    clear: both;
    display:block;

}
.box-up{
    top:0;
    left:0px;
    height:0px;
    width:0px;

}

.profile-pic{
    box-sizing:border-box;
    position:relative;
    height: 100%;

    width: auto;
    border-radius:10px;
}

.profile-pic-check{
height: 35vh;
display:hidden;
}
