body{
    margin:0;
    margin-top:50px;
    background-color: blue;
    background-image: url("../images/thetop.jpg");
    background-size: 100% 100%;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    top:0;
}


/*NavBar*/
#navbar{
    overflow:hidden;
    background-color: rgba(64, 85, 117, 0.452);
    /*Sticky Code*/
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    margin:0;
    text-align: center;
    text-justify: distribute;
    transition:height 0.3s ease-out;
    height:auto;
}
#navbuttons{
    display:none;
}
#navlabel{
    display:inline-block;
color: rgb(0, 0, 0);
text-shadow: -1px -1px 1px #FFF, 1px 1px 1px #FFF,-1px 1px 1px #FFF, 1px -1px 1px #FFF;
padding:15px;
text-decoration:none;
font-weight: bold;
}

/* Nav Links*/
#navbar a{
display:block;
color: rgb(104, 104, 104);
/* text-shadow: -1px -1px 1px #333333, 1px 1px 1px #333333,-1px 1px 1px #333333, 1px -1px 1px #333333; */
padding:10px;
text-decoration:none;;
font-size:1rem
}
#navbar a:hover{
    background-color: black;
    color:#FFF;
}
#navslide{
    overflow:hidden;
    background-color: rgba(64, 85, 117,.5);
    /*Sticky Code*/
    position: fixed;
    width: 100%;
    margin:0;
    text-align: center;
    padding:5px 0;
}
#slide-icon{
    width: 0;
    height: 0;
    margin-left:50%;
    margin-right:50%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.slide-down{
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-top: 15px solid #000;
    border-bottom: 0px solid #000;

}
.sliding{
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-top: 8px solid #000;
    border-bottom: 8px solid #000;
}
.slide-up{
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-bottom: 16px solid #000;
    border-top: 0px solid #000;

}


.image-panel{
width: 100%;
min-height: 25vw;
} 

.feature-panel{
/* background-color:rgba(0, 0, 0); */
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.5),rgba(0,0,0,.7),rgba(0,0,0,.9) , rgba(0,0,0) 25%,rgba(0,0,0) 75%, rgba(0,0,0,.5) ,rgba(0,0,0,0) );
height:200vh;
overflow: hidden;

}
